<!DOCTYPE html>
<html>
  <head>
    <title>Pricolla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Pricolla - プリコラ
        </h1>
        <h2 class="subtitle">
          画像をアップロードして自分だけのゲーム風図鑑を作ろう！
        </h2>
      </div>
    </div>
  </section>
  <section class="container section">
    <%= yield %>
  </section>
  </body>
</html>
