<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "ds", media: 'all' %>
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv-printshiv.min.js"></script>
  <title>Deresute</title>
</head>

<body>
<!--デレステのフレーム-->
<div class="ds_frame">
  <%= image_tag 'ds_frame.png' %>
</div>
<!---->


<!--フレームの名前-->
<div class="ds_frame_name">
  <p></p>
</div>
<!---->

<!--フレームの画像-->
<div class="ds_frame_img">
  <img src="images/ebi.jpg">
</div>
<!---->



<!--ボーカル-->
<div class="ds_vocal">
  <p>3684</p>
</div>
<!---->

<!--ダンス-->
<div class="ds_dance">
  <p>2350</p>
</div>
<!---->

<!--ビジュアル-->
<div class="ds_visual">
  <p>5488</p>
</div>
<!---->




<!--本人の名前-->
<div class="ds_name">
  <p>[焼肉キングダム]えびちゃん＋</p>
</div>
<!---->

<!--センター効果-->
<div class="ds_center">
  <p>肉食アイドルのビジュアルアピール値を90％アップ</p>
</div>
<!---->

<!--特技-->
<div class="ds_skill">
  <p>4秒毎、高確率で一瞬の間、PERFECT/GREATのスコア17％アップ</p>
</div>
<!---->


　<!--特技-->
<div class="ds_lines">
  <p>みんなに届け！えびたんハートっ♪おいしいお肉のジューシーなアイドルですっ！
    これからもずっとずっと、幸せな時間を、私と一緒に過ごしましょうねっ！</p>
</div>
<!---->




<div>

</body>
</html>
