<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "sv", :media => "all" %>
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv-printshiv.min.js"></script>
  <title>Shadowverse</title>
</head>

<body>
<!--シャドウバースのフレーム-->
<div class="sv_frame">
  <%= image_tag 'sv_frame.png' %>
</div>
<!---->

<!--コスト-->
<div class="sv_cost">
  <h1>6</h1>
</div>
<!---->

<!--攻撃力-->
<div class="sv_at">
  <h1>9</h1>
</div>
<!---->

<!--体力-->
<div class="sv_hp">
  <h1>8</h1>
</div>
<!---->

<!--フレームの名前-->
<div class="sv_frame_name">
  <p>二つ名/自分の名前</p>
</div>
<!---->

<!--フレームの画像-->
<div class="sv_frame_img">
  <%= image_tag @picture.photo.url %>
</div>
<!---->

<!--説明欄の名前-->
<div class="sv_name">
  <p>クリスタリアプリンセス・ティア</p>
</div>
<!---->

<!--説明欄のクラス-->
<div class="sv_class">
  <p>ウィッチ</p>
</div>
<!---->

<!--説明欄の進化前攻撃力-->
<div class="sv_be_at">
  <h1>9</h1>
</div>
<!---->

<!--説明欄の進化後攻撃力-->
<div class="sv_af_at">
  <h1>10</h1>
</div>
<!---->

<!--説明欄の進化前体力-->
<div class="sv_be_hp">
  <h1>8</h1>
</div>
<!---->

<!--説明欄の進化後体力-->
<div class="sv_af_hp">
  <h1>9</h1>
</div>
<!---->

<!--説明欄の能力 1-->
<div class="sv_power01">
  <p><span>ファンファーレ</span>　<span>焼けた肉</span>を2枚出す。</p>
</div>
<!---->

<!--説明欄の能力 2-->
<div class="sv_power02">
  <p>守護</p>
</div>
<!---->

</body>
</html>
