<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="style.css">
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv-printshiv.min.js"></script>
  <title>ドラゴンクエスト</title>
</head>

<body>
<!--ドラゴンクエストのフレーム-->
<div class="dq_frame">
  <img src="images/dq_frame.png">
</div>
<!---->

<!--フレームの画像-->
<div class="dq_frame_img">
  <img src="images/gaga.jpg">
</div>
<!---->

<!--フレームの名前-->
<div class="dq_frame_name">
  <p>ガガチャイ</p>
</div>
<!---->

<!--職業-->
<div class="dq_job">
  <p>大学生</p>
</div>
<!---->

<!--性別-->
<div class="dq_sex">
  <p>おとこ</p>
</div>
<!---->

<!--レベル-->
<div class="dq_level">
  <p>114514</p>
</div>
<!---->

<!--HP-->
<div class="hp">
  <p>1919</p>
</div>
<!---->

<!--MP-->
<div class="mp">
  <p>810</p>
</div>
<!---->

<!--ちから-->
<div class="power">
  <p>400</p>
</div>
<!---->

<!--すばやさ-->
<div class="speed">
  <p>200</p>
</div>
<!---->

<!--たいりょく-->
<div class="pp">
  <p>500</p>
</div>
<!---->

<!--かしこさ-->
<div class="clever">
  <p>2</p>
</div>
<!---->

<!--かしこさ-->
<div class="lucky">
  <p>200</p>
</div>
<!---->

<!--EXP-->
<div class="exp">
  <p>580000</p>
</div>
<!---->

<!--説明文-->
<div class="explain">
  <p><span>うんこまん</span>が<span>ぶりぶり座衛門</span>と暮らしていたところ
    なかまになった。</p>
</div>
<!---->



</body>
</html>
